<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://palrsa.palpensions.com/images/login.png" class="img-responsive" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)='authenticate(loginForm.value)'>
      <input type="text" class="fadeIn second" name="username" #username="ngModel" placeholder="username" ngModel>
      <input type="text" class="fadeIn third" name="password" #password="ngModel" placeholder="password" ngModel>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
      <h6>{{errorMsg}}</h6>
    </div>

  </div>
</div>
