<div class="container-fluid con">
  <div class="row">
    <div class="col-md-5 col-sm-12 pad"><img  src="../../assets/images/icons/log_Dcafe.png" width="12%"><span class="spa">DESIGNCAFE</span></div>
    <div class="col-md-7 col-sm-12"></div>
    <hr class="hr">
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 rr">
      <div class="form-group has-search">
         <span class="fa fa-search form-control-feedback fu"></span>
         <input type="text" class="form-control" placeholder="Search">
      </div>
    </div>
    <div class="col-md-4 col-sm-12"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 mm">
      <ul class="center">
         <li class="li hover">Browse</li>
         <li class="li hover">Download</li>
         <input type="file" id="upload" (change)="onChange($event.target.files)" value="">
        <li class="li hover" routerLink="/login">Sign out</li>
      </ul>
    </div>

    <div class="col-md-8 col-sm-12">
      <div class="container">
        <table class="table">
          <thead>
            <tr>
             <th class="co th thh">Serial No.</th>
             <th class="th thh">Customer Name</th>
             <th class="th thh">Date/Time</th>
             <th class="th thh">File Name</th>
             <th class="th thh">File Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let iteration of fileDetails; let i = index">
              <td class="co">{{i}}</td>
               <td class="bo">{{currUserName}}</td>
               <td class="bo">{{iteration.fileTime}}</td>
               <td class="bo">{{iteration.fileName}}</td>
               <td class="bo" ><span   style="color:white">{{iteration.fileType}} </span></td>
               <td class="bo" ><i class="fa fa-download" aria-hidden="true" (click)="Download(iteration.fileName)" ></i></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
